<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main class="bienvenida">
  <div>
    <h1>Actualizar Producto</h1>

    <form id="altaProducts_form" autocomplete="off">
      <label for="idProducto">Id Producto</label>
      <input type="text" id="idProducto" name="id" placeholder="ID" required>
      <input type="submit" value="Buscar Producto">
    </form>

    <div id="getIdContainer" style="display: none;"></div>
  </div>
</main>

<%- include("partials/footer.ejs") %>

<script src="/js/put.js"></script>