  <header>
    <div class="logo-nombre">
      <img src="/assets/favicon.ico" alt="Logo" class="logo" /> 
      <h1>Dashboard</h1>
    </div>
    <nav>
      <ul class="nav-barra">
        <li><a href="/dashboard/get">Inicio</a></li>
        <li><a href="/dashboard/post">Crear</a></li>
        <li><a href="/dashboard/put">Actualizar</a></li>
        <li><a href="/dashboard/delete">Eliminar</a></li>
      </ul>
    </nav>

  </header>